* {
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 400px;
  height: 100%;
  margin: 0;
  background-color: black;
  font-size: 10px; /* 1rem = 10px */
}
#__next {
  height: 100%;
  width: 100%;
}
::-webkit-scrollbar {
  display: none;
}
